<div class="row">
    <div class="col-md-12 mx-auto">
        <app-todo-edit></app-todo-edit>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mx-auto">
        <hr>
        <ul class="list-group">
            <a class="list-group-item" *ngFor = "let lineTemp of lines; let i = index">
                {{ lineTemp.line }}
                
                <a style="cursor: pointer;" class="badge badge-primary float-right" (click)="editItem(i)">Select</a>

                <!--a href="#" class="badge badge-danger float-right" (click)="onDelete()">Delete</a-->
                <!--button class="btn float-right">test</button-->
            </a>
        </ul>
    </div>
</div>