<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">ToDO List</a>
  
  <div>
    <!--button class="btn btn-outline-primary" type="button" (click)="downloadData()">Get List</button>
    <button class="btn btn-outline-success" type="button" (click)="uploadData()">Upload List</button-->
    <button class="btn btn-primary" type="button" routerLink="/authenticate" *ngIf="!userExists">Login / Signup</button>
    <button class="btn btn-success" type="button" *ngIf="userExists" (click)="onSignOut()">Logout</button>

    <!--div class="dropdown">
      <div class="chip dropdown-toggle" style="cursor: pointer;">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="86" height="86">
      John Doe
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
      </div>
    </div-->
  </div>
</nav>