<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form (ngSubmit)="onNew(formInp)" #formInp="ngForm">
				<div class="form-group row">
					<div class="col-md-12">
						<label class="col-form-label" for="field">Item</label>
						<input type="text" id="field" name="field" class="form-control" placeholder="Enter to do item here" required ngModel><!--(input)="onInputChange($event)"-->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 btn-group mx-auto" role="group">
						<button class="btn btn-success" type="submit" [disabled]="!formInp.valid">{{ editing ? 'Edit' : 'Add' }}</button>
						<button class="btn btn-danger" type="button" [disabled]="!editing" (click)="onDelete()">Delete</button>
						<button class="btn btn-warning" type="button" (click)="onReset()">Clear</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>