<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <router-outlet></router-outlet>
            <!--app-todo-list></app-todo-list-->
        </div>
    </div>
</div>