<div class="container">
    <form class="form-horizontal" (ngSubmit)="onSubmit(formLines)" #formLines="ngForm">
            <div class="form-group">
                <label class="control-label col-sm-5" for="email">Email : </label>
                <div class="col-sm-10">
                    <input type="email" maxlength="200" class="form-control" id="email" placeholder="Enter your email address" ngModel name="email" required email #email="ngModel">
                    <!--span class="valid-feedback" style="display: block;" *ngIf="email.valid && email.touched">Cool!</span-->
                    <span class="invalid-feedback" style="display: block;" *ngIf="!email.valid && email.touched">Please enter a valid email address.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5" for="password">Password : </label>
                <div class="col-sm-10">
                    <input type="password" minlength="6" class="form-control" id="password" placeholder="Password" ngModel name="password" required #pword="ngModel">
                    <!--span class="valid-feedback" style="display: block;" *ngIf="pword.valid && pword.touched">Cool!</span-->
                    <span class="invalid-feedback" style="display: block;" *ngIf="!pword.valid && pword.touched">Please enter a password that is more than 6 charecters long</span>
                </div>
            </div>

            <div class="alert alert-danger col-sm-10 col-lg-10 col-md-10" *ngIf="errorMsg">
              <strong>Error!</strong> {{ errorMsg }}
            </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="btn-group">
                    <button type="submit" [disabled]="!formLines.valid" class="btn {{ signingUp ? 'btn-primary' : 'btn-success' }} float-left">{{ signingUp ? 'Sign up!' : 'Login!' }}</button> 
                    <button type="reset" [disabled]="!formLines.touched" class="btn btn-light">Clear</button>
                  </div>

                  <button type="button" class="btn btn-link float-right" (click)="authChange()"><u>{{ signingUp ? 'Login instead' : 'Sign up instead' }}</u></button>
                </div>                
              </div>
    </form>
</div>
